*{
    margin: 0px;
    padding: 0px;
}

html,body{
    height: 100%;
    width: 100%;
    position: relative;
}

.back1{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(84, 88, 102, 0.7),rgba(42, 46, 64, 0.7)),url(/images/background2.jpg);
    background-size: cover;
}

/* Nav bar */

nav{
    position: relative;
    display: flex;
    background-color: transparent;
    padding: 20px;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
}

nav img{
    display: inline-block;
    text-decoration: none;
    height:40px;
    border-radius: 10px;
    margin-right: auto; 
    margin-left: 20px;
}

.menu-icon{
    display: none;
}

.menu-icon:hover{
    cursor: pointer;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    color: white;
    position: relative;
}

nav ul li a:hover{
    cursor: pointer;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: 0.3s ease-in-out;
    transform: translateX(-50%);
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

/* Body1 contents */

.body1Contents{
    color: white;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 25vh;
    word-spacing: 10px;
    line-height: 40px;
}

.body1Button{
    padding: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 10px;
    transition: color 2s, background-color 1s;
}

.body1Button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 1s;
}

/* Body2 Contents */
#back2{
    height: 50vh;
}

.abtCont{
    display: flex;
    float: left;
}

.contentsAllText{
    flex: 1;
}

.abtCont h2{
    margin: 10vh 0 10px 13vh;
    color:#646C79;
}

.abtContEx{
    border: 1px solid #66644A;
    border-radius: 10px;
    padding: 20px;
    margin: 0 0vh 0 10vh;
}

.abtCont h3{
    color:#66644A;
}

.abtCont p{
    text-align: justify;
    color:#66644A;
    word-spacing: 4px;
    line-height: 30px;
}

.gif{
    flex: 1;
    margin: 10vh 0 0 10vh;
}

.gif img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

/* Body3 Contents */

#back3{
    height: 60vh;
    display: flex;
}

#back3 a{
    text-decoration: none;
}

.card{
    height: 80px;
    width: 200px;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 5px 5px 0 #646C79;
}

#back3 .card1{
    flex: 1;
    background-color: #7e848e;
    margin: 10vh 10vh 70vh 10vh;
    padding: 10vh;
    border-radius: 30px;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/consult.gif);
    background-size: cover; 
    background-position: center;
}

#back3 .card2{
    flex: 1;
    margin: 10vh 10vh 70vh 10vh;
    padding: 10vh;
    border-radius: 30px;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/Travel.gif);
    background-size: cover; 
    background-position: center;
}

#back3 .card3{
    flex: 1;
    background-color: #66644A;
    margin: 10vh 10vh 70vh 10vh;
    padding: 10vh;
    border-radius: 30px;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/room\ booking.gif);
    background-size: cover; 
    background-position: center;
}

#back3 img{
    height: 80px;
    margin-top: -3vh;
    float: left;
}

#back3 p{
    margin-left: 15vh;
    margin-top: 2vh;
    color: white;
    font-weight: bold;
}


/* Body4 contents */

#back4{
    height: 80vh;
    word-spacing: 10px;
}

#back4 h2{
    margin-bottom: 10px;
    color: #646C79;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-align: center;
}

#back4 .offerDis{
    line-height: 20px;
    color: #66644A;
    text-align: center;
}

.offerCards{
    display: grid;
}

.offerCard:hover{
    cursor: pointer;
    box-shadow: 0 5px 5px 0 #646C79;
}

.offer1{
    position: relative;
    grid-row: 1;
    height: 200px;
    width: 370px;
    margin: 5vh 0 0 15vh;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/italy.webp);
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image within the container */
}

.offer1 p{
    position: absolute;
    color: white;
    margin: 50px 0 0 20px;
}

.offer1 button{
    position: absolute;
    margin: 100px 0 0 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.offer1 button a{
    text-decoration: none;
    color: white;
}

.offer1 button a:hover{
    color: #646C79;
    background-color: white;
}

.offer2{
    position: relative;
    grid-row: 1;
    height: 200px;
    width: 370px;
    margin: 5vh 0vh 0 0vh;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/maldives.webp);
    background-size: cover; 
    background-position: center;
}

.offer2 p{
    position: absolute;
    color: white;
    margin: 50px 0 0 20px;
}

.offer2 button{
    position: absolute;
    margin: 100px 0 0 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.offer3{
    position: relative;
    grid-row: 1;
    height: 200px;
    width: 480px;
    margin: 5vh 0vh 0 0vh;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/belgium.jpg);
    background-size: cover;
    background-position: center; 
}

.offer3 p{
    position: absolute;
    color: white;
    margin: 50px 0 0 20px;
}

.offer3 button{
    position: absolute;
    margin: 100px 0 0 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.offer4{
    position: relative;
    grid-row: 2;
    height: 200px;
    width: 300px;
    margin: 5vh 0vh 0 15vh;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/crostia.jpeg);
    background-size: cover; 
    background-position: center; 
}

.offer4 p{
    position: absolute;
    color: white;
    margin: 50px 0 0 20px;
}

.offer4 button{
    position: absolute;
    margin: 100px 0 0 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.offer5{
    position: relative;
    grid-row: 2;
    height: 200px;
    width: 300px;
    margin: 5vh 0vh 0 -11vh;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/us.jpg);
    background-size: cover;
    background-position: center; 
}

.offer5 p{
    position: absolute;
    color: white;
    margin: 50px 0 0 20px;
}

.offer5 button{
    position: absolute;
    margin: 100px 0 0 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.offer6{
    position: relative;
    grid-row: 2;
    height: 200px;
    width: 300px;
    margin: 5vh 0vh 0 -22vh;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/bali.webp);
    background-size: cover;
    background-position: center; 
}

.offer6 p{
    position: absolute;
    color: white;
    margin: 50px 0 0 20px;
}

.offer6 button{
    position: absolute;
    margin: 100px 0 0 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.offer7{
    position: relative;
    grid-row: 2;
    height: 200px;
    width: 300px;
    margin: 5vh 0vh 0 -47vh;
    background-image: linear-gradient(rgba(86, 88, 94, 0.7),rgba(40, 40, 48, 0.7)),url(/images/dubai.webp);
    background-size: cover; 
    background-position: center; 
}

.offer7 p{
    position: absolute;
    color: white;
    margin: 50px 0 0 20px;
}

.offer7 button{
    position: absolute;
    margin: 100px 0 0 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.expBtn:hover{
    cursor: pointer;
    background-color: white;
    color: #646C79;
}

/* back5 Contents */

#back5{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #646C79;
    border-width: 1px 1px 0 1px; /* top right bottom left */
    border-radius: 20px 20px 0 0;
}

.contact1{
    flex: 1;
    margin: 10vh 0vh 5vh 10vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.contact1 h2{
    color: #646C79;
}

.contact1 p{
    color: #66644A;
    margin-top: 5px;
    text-align: justify;
    line-height: 25px;
}

.contact2{
    flex: 1;
    margin: 7vh 0 5vh 10vh;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.contact2 h2{
    color: #646C79;
}

.contact2 p{
    color: #66644A;
    margin-top: 5px;
    text-align: justify;
    line-height: 30px;
}

.contact3{
    color: #646C79;
    text-align: center;
    flex: 1;   
    margin: 10vh 10vh 5vh 10vh;
    background-color: white;
    padding: 20px;
}

.contact3 input{
    margin-top: 15px;
    width: 240px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #646C79;
}

.contact3 textarea{
    margin-top: 15px;
    border-radius: 15px;
    padding: 10px;
    resize: none;
}

.contact3 button{
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #66644A;
    border-radius: 15px;
    background-color: white;
}

.contact3 button:hover{
    cursor: pointer;
    background-color: #66644A;
    color: white;
}

/* back6 Content (social media) */

.back6{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
}

.back6 p {
    float: left;
    margin-right: 10px;
    color: #646C79;
    font-weight: bold;
}
.back6 img{
    height: 20px;
    margin: 0 10px 0 10px;
}

.back6 img:hover{
    cursor: pointer;
}

/* size 525 nav bar */

@media (max-width:525px) {
    nav ul{
        position: absolute;
        flex-direction: column;
        top: 80px;
        right: 0;
        left: 0;
        text-align: center;
        background-color: rgb(237, 233, 233);
        overflow: hidden; 
        background-color: #646C79; 
    }

    nav ul li a {
        padding: 20px;
    }

    .menu-icon{
        display: block;
    }


    .menu-icon label {
        cursor: pointer; 
    }
    
    .body1Contents{
        margin-left: 40px;
    }
}

/* About us content */

@media (max-width:1050px) {
    .contentsAllText{
        flex: 1;
    }
    
    .abtCont h2{
        margin: 10vh 0 10px 5vh;
        color:#646C79;
    }
    
    .gif{
        flex: 1;
        margin: 18vh 0 0 5vh;
    }
    
    .abtContEx{
        margin: 0 0vh 0 5vh;
    }   
}

@media (max-width:1000px) {
    #back2{
        height: 60vh;
    }
}

@media (max-width:600px) {
    #back2{
        height: 100vh;
    }
}


/* Services contents */
@media (max-width:1300px) {
    #back3{
        height: 50vh;
        display: flex;
    }

    .card{
        height: 60px;
        width: 80px;
        padding: 5px;
    }

    #back3 .card1{
        flex: 1;
        margin: 10vh 10vh 50vh 5vh;
    }
    
    #back3 .card2{
        flex: 1;
        margin: 10vh 10vh 50vh -5vh;
    }
    
    #back3 .card3{
        flex: 1;
        margin: 10vh 10vh 50vh -5vh;
    }   
}

@media (max-width:1050px) {
    #back3{
        height: 100vh;
        display: grid;
    }

    .card{
        height: 60px;
        width: 200px;
        padding: 5px;
    }

    #back3 .card1{
        grid-row: 1;
        margin: 10vh 10vh 50vh 10vh;
    }
    
    #back3 .card2{
        grid-row: 1;
        margin: 10vh 10vh 50vh 10vh;
    }
    
    #back3 .card3{
        grid-row: 2;
        margin: -40vh 10vh 50vh 10vh;
    }
}

@media (max-width:820px) {
    #back3{
        height: 140vh;
        width: 10vh;
    }
    #back3 .card1{
        grid-row: 1;
        margin: 10vh 50vh 0vh 50vh;
    }
    
    #back3 .card2{
        grid-row: 2;
        margin: 10vh 50vh 0vh 50vh;
    }
    
    #back3 .card3{
        grid-row: 3;
        margin: 10vh 50vh 10vh 50vh;
    }
}

@media (max-width:650px) {
    #back3{
        height: 160vh;
    }
    #back3 .card1{
        grid-row: 1;
        margin: 10vh 80vh 20vh 30vh;
    }
    
    #back3 .card2{
        grid-row: 2;
        margin: 0 80vh 20vh 30vh;
    }
    
    #back3 .card3{
        grid-row: 3;
        margin: 0vh 80vh 20vh 30vh;
    }
}

/* Special offer content */

@media (max-width:1200px) {
    .up{
        width: 350px;
    }
    .down{
        width: 300px;
    }
    .offer1{
        margin: 5vh 0 0 5vh;
    }
    .offer2{
        margin: 5vh 0vh 0 5vh;
    }
    .offer3{
        margin: 5vh 0vh 0 5vh;
    }  
    .offer4{
        margin: 5vh 0vh 0 5vh;
    }  
    .offer5{
        margin: 5vh 0vh 0 -5vh;
    }
    .offer6{
        margin: 5vh 0vh 0 -15vh;
    }
    .offer7{
        margin: 5vh 0vh 0 -25vh;
    }
}


@media (max-width:1000px) {
    #back4{
        height: 150vh;
        display: grid;
    }
    .offer1{
        grid-row: 1;
        margin: 5vh 0 0 5vh;
        width: 360px;
        height: 200px;
    }
    .offer2{
        grid-row: 1;
        margin: 5vh 0vh 0 5vh;
        width: 360px;
        height: 200px;
    }
    .offer3{
        grid-row: 2;
        margin: 5vh 0vh 0 5vh;
        width: 360px;
        height: 200px;
    }  
    .offer4{
        grid-row: 2;
        margin: 5vh 0vh 0 5vh;
        width: 360px;
        height: 200px;
    }  
    .offer5{
        grid-row: 3;
        margin: 5vh 0vh 0 5vh;
        width: 360px;
        height: 200px;
    }
    .offer6{
        grid-row: 3;
        margin: 5vh 0vh 0 5vh;
        width: 360px;
        height: 200px;
    }
    .offer7{
        grid-row: 4;
        margin: 5vh 0vh 0 5vh;
        width: 360px;
        height: 200px;
    }
}

@media (max-width: 800px) {
    #back4{
        height: 250vh;
    }
    .offer1{
        grid-row: 1;
        width: 500px;
        margin: 5vh 0 0 20vh;
    }
    .offer2{
        grid-row: 2;
        width: 500px;
        margin: 5vh 0vh 0 20vh;
    }
    .offer3{
        grid-row: 3;
        width: 500px;
        margin: 5vh 0vh 0 20vh;
    }  
    .offer4{
        grid-row: 4;
        width: 500px;
        margin: 5vh 0vh 0 20vh;
    }  
    .offer5{
        grid-row: 5;
        width: 500px;
        margin: 5vh 0vh 0 20vh;
    }
    .offer6{
        grid-row: 6;
        width: 500px;
        margin: 5vh 0vh 0 20vh;
    }  
    .offer7{
        grid-row: 7;
        width: 500px;
        margin: 5vh 0vh 0 20vh;
    }
}

@media (max-width: 650px) {
    .offer1{
        grid-row: 1;
        width: 400px;
        margin: 5vh 0 0 10vh;
    }
    .offer2{
        grid-row: 2;
        width: 400px;
        margin: 5vh 0vh 0 10vh;
    }
    .offer3{
        grid-row: 3;
        width: 400px;
        margin: 5vh 0vh 0 10vh;
    }  
    .offer4{
        grid-row: 4;
        width: 400px;
        margin: 5vh 0vh 0 10vh;
    }  
    .offer5{
        grid-row: 5;
        width: 400px;
        margin: 5vh 0vh 0 10vh;
    }
    .offer6{
        grid-row: 6;
        width: 400px;
        margin: 5vh 0vh 0 10vh;
    }  
    .offer7{
        grid-row: 7;
        width: 400px;
        margin: 5vh 0vh 0 10vh;
    }
}

/* Contact section */

@media (max-width:940px) {
    #back5{
        height: 150vh;
        flex-direction: column;
        text-align: center;
    }
    
    .contact1{
        margin: 0 0 0 0;
    }

    .contact2{
        margin:-50vh 0 0 0;
    }

    .contact3{
        margin: -50vh 0vh 0vh 0vh;
    
    }
}